<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h3 class="info-text">Author Info &#128591;</h3>

    <div class="authors">
      <div class="dan">
        <h4>Daniel Gomes</h4>
        <div class="socials">
          <a href="https://twitter.com/dan1el_G" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://github.com/dan1el5" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a
            href="https://www.linkedin.com/in/daniel-gomes-6280951a3/"
            target="_blank"
          >
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
        <br />
        <p>2nd Year CS student at Western University</p>
      </div>

      <div class="peter">
        <h4>Peter Mangialardi</h4>
        <div class="socials">
          <a href="https://github.com/PeterM45" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a
            href="https://www.linkedin.com/in/peter-mangialardi/"
            target="_blank"
          >
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
        <br />
        Grade 12 at Kings Christian Collegiate
      </div>

      <div class="moses">
        <h4>Moses Luna</h4>
        <div class="socials">
          <a href="https://github.com/mosesluna" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/mosesluna/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
        <br />
        <p>2nd Year CS Student at York University</p>
      </div>

      <div class="joey">
        <h4>Joey Abejo</h4>
        <div class="socials">
          <a href="https://twitter.com/_joey_a03_" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://github.com/JoeyA03" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a
            href="https://www.linkedin.com/in/jose-jesus-ii-abejo-4367b51ab/"
            target="_blank"
          >
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
        <br />
        <p>2nd Year Game Design Student at Sheridan College</p>
      </div>
    </div>
  </body>
</html>
